@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

/* @theme */
:root {
  --font-display: "Zalando Sans";
  --breakpoint-3xl: 1920px;
  --color-primary: #FF9324;
}

@layer base {
  html {
    font-family: var(--font-display);
  }
  body {
    background-color: #06000a;
    color: white;
    
    
  }
}
@media print {

  body * {
    visibility: hidden !important;
  }

  .print-area,
  .print-area * {
    visibility: visible !important;
  }

  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;
    min-height: 297mm;
    padding: 15mm;
    background: white;
  }

  .no-print {
    display: none !important;
  }
   @page {
    size: A4;
    margin: 0;
  }
}
